<input type="text" [(ngModel)]="searchTitle" placeholder="Enter Art title">
<button (click)="checkContentExists()">Search Art title</button>

<p [ngStyle]="{'color': contentExists ? 'green' : 'red'}">{{ message }}</p>

<div>
<h1>Unspecified</h1>
<app-content-card *ngFor="let contentItem of contentItems | typefilterout: ''" [contentItem]="contentItem"></app-content-card>
</div>
<div>
<h1>Abstract art type</h1>
<app-content-card *ngFor="let contentItem of contentItems | typefilterout: 'Abstract'" [contentItem]="contentItem"></app-content-card>
</div>
<div>
<h1>Art</h1>
<app-content-card *ngFor="let contentItem of contentItems | typefilterout: 'Art'" [contentItem]="contentItem"></app-content-card>
</div>